<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.product._id}}.jpg" alt="" style="width: 70px;height: 70px;">
                    </td>
                    <td>{{this.product.Name}}</td>
                    <td>{{this.product.Price}}.rs</td>
                    <td>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','-1')"> - </button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-3"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','1')"> + </button>
                    </td>
                    <td>
                        <a href=""
                            onclick="removeProduct('{{this._id}}','{{this.product._id}}','{{this.product.Name}}')"
                            class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="container" style="width: 80%; margin: auto; text-align: right;">
            <h5 class="mr-5">TOTAL: RS. 20000</h5><br>
            <a href="/place-order" class="btn btn-success " style="width: 20%;"><b>Place Order</b></a>
        </div>

    </div>
</section>

<script>
    function changeQuantity(cartId, proId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML);
        count = parseInt(count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("product removed from cart")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                }
            }
        })
    }
    function removeProduct(cartId, proId, name) {
        var result = confirm("Want to delete " + name + "?");
        if (result) {

            $.ajax({
                url: '/remove-product',
                data: {
                    cart: cartId,
                    product: proId,

                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        location.reload()
                    } else {
                        alert("unknown error could remove product")
                    }
                }
            })

        }
    }
</script>